@import url(./style.css);

hr{
    width: 100%;
    margin: 20px 0;
}
.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
}
.contacts .profile{
    width: 250px;
    border-radius: 50%;
    padding: 40px;
}
.contacts h1{
    color: #fff;
    text-transform: capitalize;
}
address{
    margin-top: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
    font-style: unset;
    text-shadow: 0 3px 5px#03a2c6;
    text-align: center;
}

.action-user{
    align-items: center;
    text-align: center;
}
.action-user>h1{
    margin: 10px 0;
}
.action-user form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.id-user{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.action-user form label{
    display: none;
}
.action-user .id-user .name_page{
    display: none;
}
.action-user form input[type="text"], .action-user form input[type="email"]{
    padding: 10px;
    background: #111313;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 18px;
}
.action-user form textarea{
    height: 100px;
    background: #111313;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 18px;
    resize: none;
}
.action-user form .button-default{
    font-size: 16px;
}
.action-user address{
    padding-bottom: 3%;
}
.button-default{
    display: inline-block;
    border: 2px solid #ccc;
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    transition: .5s;
    cursor: pointer;
    background: #0084b8;
    text-transform: uppercase;
    font-weight: bold;
}
.button-default:hover{
    border: 2px solid #fff;
    color: #0084b8;
    background: #000;
}

.map{
    width: 100%;
}
.social-networks a img{
    width: 70px;
    padding: 40px;
}

